<p>Dear <%= @booking.customer.full_name %>,</p>

<p>Your appointment for date: <b><%= @booking.booking_date %></b> for timeslot: <b><%= @booking.booking_time %></b> for service <b><%= @booking.service.name %></b> has been confirmed!</p>

<p><%= link_to 'Click', new_booking_feedback_url(@booking) %> here to provide feedback for the booking.</p>
<p>Team MB Beauty Parlor</p>